body{
    background-color: #003153;
    color: whitesmoke;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
p{
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    width: 400px;
}
header{
    width: 50%;
    margin: auto;
}